**/node_modules/**
.vscode/**
.github/**
**/dist/**

.env*
.flaskenv*
!.env.project
!.env.vault
substream-listener/.env

web/**
erc721-substream/**
management-api/**
deployments/**
prometheus/**
grafana/**
